body{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    gap: 96px;
    width: 980px;
    height: 980px;
    left: 300px;
    top:340px;
    background: rgba(106, 132, 226, 0.1);
}
.main-page{
    width: 932px;
    height: 540px;
    background: #E4E5E6;
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: flex-start;
    padding: 0px 0px 0px 36px;
   border-radius: 19px;
    
    
}
.right-section{
    display: flex;
    flex-direction: column;
    width: 540px;
    height: 540px;
    margin-left: 36px;
    margin-right: 60px;
    justify-content: center;

}
.right-section h5{
    color: gray;
    text-transform: uppercase;
    font-weight: 100;
    margin-bottom: 24px;
    letter-spacing: 0.01px;
    display: flex;
   flex: none;
   
}
.right-section span{
    color: gray;
    text-transform: uppercase;
    font-weight: 800;
}
.right-section h1{
    color: gray;
    text-transform: uppercase;
    font-weight: 800;
    margin-bottom: 24px;
    width: 360px;
    height: 84px;
}
.right-section article{
    font-weight: normal;
    color: gray;
    width: 359px;
    font-weight: 400px;
    margin-bottom: 48px;
}
.left-section{
    width: 476px;
    height: 600px;
    background: rgba(106, 132, 226, 0.1);
    border-radius: 0px 19px 0px 0px;
    align-items: center;
    display: flex;
    flex-direction: column;
   
}
.image_area{
    width: 476px;
    height: 540px;
    position: relative;
    display: flex;
    align-items: center;
    font-weight: 500;
    letter-spacing: 0.02px;
    left: calc(55% - 400px/2); 

}
.image_area h4{
    width: 400px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1em;
}
.right_section_btn{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.right_section_btn a{
    font-weight: 400;
    line-height: 18px;
    align-items: center;
    font-size: 13px;
    height: 18px;
    width: 70px;
    margin-left: 3em;
    color: #0038E5;
}
.main_btn{
    background: linear-gradient(127.93deg, #2EBD7A -2.9%, #25A066 96.02%);
    border-radius: 6px;
    width: 217px;
    height: 48px;
    color: #ffff;
   border-color: #E4E5E6;   
}
.cloud_small{
    left: 11.9%;
    right: 70.43%;
    background: inear-gradient(124.92deg, #67DED7 -1.19%, #4B8FF6 111.84%);;
}
.down_section{
    display: flex;
    width: 980px;
    gap: 94px;
    left: 300px;
    top: 340px;
    background: #F3F3F5;
    align-items: flex-start;
    margin-top: 96px;

}
.down_section h4{
    height: 18px;
    margin-bottom: 24px;
    color: gray;
    font-weight: 800;
    width: 240px;
    font-size: 14px;
    font-family: 'Inter';
    font-style: normal;

   
    line-height: 18px;
}
.down_section p{
   
   width: 240px;
    color: gray;
    font-weight: 400;
    font-size: 14px;
    font-family: 'Inter';
    font-style: normal;
    align-self: stretch;
}

.down_section_content{
    display: flex;
    flex-direction: column;

}
.down_section_circle{
    width: 17px;
    height: 17px;
    background: #acbcec;
    border-radius: 12px;
    margin-bottom: 24px;
    align-items: center;
    justify-content: center;
    display: flex;

    
}

.down_section_circle2{
    width: 10px;
    height: 10px;
    background: #0038E5;
    border-radius: 12px;
  
    align-items: center;
}

.cloud_large{
    height: 80px;
    width: 80px;
    background: #0428AA;
    margin-left: 83px;
    position: relative;
    display: flex;
    flex-direction: row;
    margin-bottom: 48px;
    
  

}
.logo{
    margin-top: -71px;
    display: flex;
    flex-direction: row;
    margin-bottom: 0em;
    margin-left: 19.5em;
    width: max-content;
   
}
.cloud_large::after{
    height: 162px;
    width: 80px;
    background: inherit;
    position: absolute;
    content: '';
    top: -112px;
    left: 0px;
    border-radius: 80px 0px 0px;
}
.cloud_large::before{
    height: 113px;
    width: 182px;
    background: inherit;
    position: absolute;
    content: '';
    top: -33px;
    left: -102px;
    border-radius: 80px 0px 0px 80px;
}
.heart{
    height: 50px;
    width: 50px;
    background: linear-gradient(124.92deg, #67DED7 -1.19%, #4B8FF6 111.84%);
    margin-top: -22px;
    margin-left: 100px;
    position: absolute;
}
 .heart::after{

    height: 74px;
    width: 50px;
    background: inherit;
    content: '';
    top: -26px;
    left: 0px;
    border-radius: 80px 80px 0px 0px;
    position: absolute;
}
.heart::before{

    height: 50px;
    width: 78px;
    background: inherit;
    content: '';
    top: 0px;
    left: -28px;
    border-radius: 80px 0px 0px 80px;
    position: absolute
}
 .eclips{
    height: 68px;
    width: 150px;
    background: linear-gradient(90deg, #4B8FF6 46.99%, #2C4DFF 100%);
    margin-top: -46px;
    margin-left: -150px;
    position: relative;
    border-radius: 80px;
}

 .eclips-2{
    height: 23px;
    width: 45px;
    background: linear-gradient(90deg, #4B8FF6 46.99%, #2C4DFF 100%);
    margin-top: 39px;
    margin-left: -35px;
    position: absolute;
    border-radius: 80px;
}

.eclips-3{
    height: 80px;
    width: 160px;
    background: linear-gradient(124.92deg, #67DED7 -1.19%, #4B8FF6 111.84%);
    margin-top: 50px;
    margin-left: -80px;
    position: absolute;
    border-radius: 80px 0px 0px 80px;
    
}

@media screen and (min-width:1280px)
{

    .right-section{
       
        margin-left: 36px;
        width: 540px;
        margin-right: 60px;
    }
    .left-section{
        width: 616px;
        
    }
    .down_section p{
        width: 300px;
    }
    .down_section h4{
        width: 300px;
    }
    .main-page{
        width: 1308px;
    }
    .main-page{
        width: 1308px;
        border-radius: 0px;
    }
    .logo{
        margin-left: 31.8em;

    }

   
    
}

@media screen and (min-width:1560px)
{

    .right-section{
       
        margin-left: 240px;
        width: 600px;
        margin-right: 120px;
    }
    .left-section{
        width: 828px;
        
    }
    .down_section p{
        width: 360px;
    }
    .down_section h4{
        width: 360px;
    }
    .main-page{
        width: 1308px;
    }
    
}

